<!doctype html>
<html>
		<head>
			<title>

			</title>
		</head>
		<body>
			<header>
				Hello There
			</header>

			<script>

				// var myName = "Roshan"
				// var myAge = 36
				// var mySalaryPerMonth = 16000.00
				// var taxPercentage = 0.7

				// var totalTax = mySalaryPerMonth*taxPercentage

				// document.write("Total tax is: ", totalTax)

				var degFar = prompt("Enter the degrees in Farenheit", 50)
				var degCent;


				degCent = 5/9 * (degFar -32)
				document.write(degFar + "\xB0 Farenheit is " + degCent.toFixed(2) + "\xB0 Celsius " + "<br>");


				// if (degCent > 33) {
				// 	degCent -= 3
				// 	document.write ("Hot temperature, so turning it low by 3:  " + degCent.toFixed(2))
				// } else if (degCent <20) {
				// 	degCent += 3
				// 	document.write ("Cold temperature, so turning it HIGH by 3:  " + degCent.toFixed(2))
				// }
				// else {
				// 	document.write ("Normal temperature:  " + degCent.toFixed(2))
				// }
				
				var sum = 0;

				for (var i =0; i<10; i++){

					sum += i;
				}

				document.write(sum);


				// someNumber = "346.476"

				// // document.write(parseInt(someNumber, 10))
				
				// document.write(parseFloat(someNumber).toFixed(2) + "<br>")

				// var myArray = ["Roshan", 36, "Singapore", 1200.5]

				// document.write(myArray[0])




			</script>



		</body>
</html>