<!doctype html>
<html>
		<head>
			<title>

			</title>
		</head>
		<body>
			<header>
				Hello There
			</header>

			<script>

				// var myName = "Roshan"
				// var myAge = 36
				// var mySalaryPerMonth = 16000.00
				// var taxPercentage = 0.7

				// var totalTax = mySalaryPerMonth*taxPercentage

				// document.write("Total tax is: ", totalTax)

				// var degFar = prompt("Enter the degrees in Farenheit", 50)
				// var degCent;


				// degCent = 5/9 * (degFar -32)
				// document.write(degFar + "\xB0 Farenheit is " + degCent.toFixed(2) + "\xB0 Celsius " + "<br>");


				// if (degCent > 33) {
				// 	degCent -= 3
				// 	document.write ("Hot temperature, so turning it low by 3:  " + degCent.toFixed(2))
				// } else if (degCent <20) {
				// 	degCent += 3
				// 	document.write ("Cold temperature, so turning it HIGH by 3:  " + degCent.toFixed(2))
				// }
				// else {
				// 	document.write ("Normal temperature:  " + degCent.toFixed(2))
				// }
				
				// var sum = 0;

				// for (var i =0; i<10; i++){

				// 	sum += i;
				// }

				// document.write(sum + "<br>");

				myArray = ["Roshan", "Maumita", "Rakesh", "Cookie", "Aiden"];

				// for (var i=0; i<4; i++){
				// 	document.write(myArray[i] + "<br>")
				// }


				// someNumber = "346.476"

				// // document.write(parseInt(someNumber, 10))
				
				// document.write(parseFloat(someNumber).toFixed(2) + "<br>")

				// var myArray = ["Roshan", 36, "Singapore", 1200.5]

				// document.write(myArray[0])

				// for (var eachIndex in myArray){
				// 	document.write(myArray[eachIndex] + "<br>");
				// }

				// var movie = {"name": "Bourne Identity",
				// 			"actor": "Matt Damon",
				// 			"year": "2008",
				// 			"box_office": 20000000
				// 		}
				// document.write(movie["name"])

				// document.write(movie.year)

				// var sayMyName = function() {
				// 	document.write("This is a function call");
				// }

				// // Trying to output the result of a function by specifying the function directly as a parameter does not work. 
				// document.write(sayMyName)

				// //The result of the function has to be saved in a variable and then printed
				// name = sayMyName()
				// document.write(name)

				var fizzBuzz = function(x) {

					for (var i =1; i<=x; i++){

					    if (((i % 3)==0) && ((i % 5)==0)){
					        document.write("FizzBuzz" + "<br>")
					    } else if ((i % 3) ==0){
					    	document.write("Fizz" + "<br>")
					    } else if ((i % 5) ==0){
					    	document.write("Buzz" + "<br>")
					    } else {
					    	document.write(i + "<br>")
					    }
					}
				}

				fizzBuzz(15)


			</script>

			<script>

				function toCentigrade(degF){

					var degC = 5/9 * (degF - 32);
					document.write(degF + " Farenheit is " + degC.toFixed(2) + " Celsius.<br/>")
				}

				function toFarenheit(degC){

					var degF = 9/5 * degC + 32
					document.write(degC + " Celsius is " + degF.toFixed(2) + " Farenheit.<br/>")
				}

				toCentigrade(90)
				toFarenheit(32)

				function convert(someFunction, temperature){
					someFunction(temperature);
				}

				convert(toCentigrade, 90)
				convert(toFarenheit, 27)

			</script>

		</body>
</html>